<h1 class="fw-bold text-center text-primary">Liste  de reclamation</h1>
<!-- <p class="mt-5" >liste-reclamation works!</p> -->

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">N° reclamation</th>
      <th scope="col">Nom Employe</th>
      <th scope="col">Email Employe</th>
      <th scope="col">Libelle</th>
      <th scope="col">Motif</th>
      <th scope="col">Observation</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td><button class="btn btn-success"> Supprimer</button></td>
      <td><button class="btn btn-danger"> Modifieer</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td><button class="btn btn-success"> Supprimer</button></td>
      <td><button class="btn btn-danger"> Modifieer</button></td>
    </tr>



  </tbody>
</table>
